<ion-list>
  <div style="padding:8px">


  <ion-item>
   
    <ion-text>España</ion-text>
    <ion-checkbox color="primary" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-text>Honduras</ion-text>
    <ion-checkbox color="secondary"  slot="end"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-text>El Salvador</ion-text>
    <ion-checkbox color="secondary"  slot="end"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-text>Nicaragua</ion-text>
    <ion-checkbox color="secondary"  slot="end"></ion-checkbox>
  </ion-item>
 
</div>
</ion-list>