 <ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <div style="zoom:2.5">
      <ion-icon name="skull"></ion-icon>
    </div>
    </ion-buttons>
    <ion-title>
      <div style="text-align: center; font-weight: bold;">
      Rappo
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <div style="zoom:2.5">
        <ion-icon name="ellipsis-vertical"></ion-icon>
    </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" >

  <ion-text style="width: 100%; padding:10px; text-align: center; font-weight: bold">
    <div >
      {{this.title}}
    </div>
  </ion-text>
  
  
  <div style="padding:10px"  *ngIf="this.showForm">

    
  <ion-item>

    <ion-icon name="calendar-clear"></ion-icon>
    
    <ion-label style="padding-left: 5px;">MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]="this.birthday"></ion-datetime>
  </ion-item>

 
   
  
  

  <ion-button (click)="getBirthday($event)" expand="block">get year</ion-button>
  <ion-chip (click)="presentPopover($event) ">
    <ion-icon name="heart" color="danger"></ion-icon>
    <ion-label>My favorite food</ion-label>
  </ion-chip>

  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Name</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Cédula</ion-label>
        <ion-radio slot="start" value="cc"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Tarjeta de identidad</ion-label>
        <ion-radio slot="start" value="ti" (ionFocus)="catchTi($event)"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Cédula de extranjería</ion-label>
        <ion-radio slot="start" value="ce" (ionFocus)="catchCe($event)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>



</div>


<ion-button (click)="showDiv($event)" expand="block">show div</ion-button>

<ion-button (click)="showCharactersRick($event)" expand="block" color="secondary">Show Characters</ion-button>

<div *ngFor="let caracterRick of this.caractersRick">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Id: {{ caracterRick.id}}</ion-card-subtitle>
      <ion-card-title>{{ caracterRick.name}}</ion-card-title>
    </ion-card-header>

    <ion-img [src]=" caracterRick.image"></ion-img>
  
    <ion-card-content>
     <ion-list>
       <ion-item>
        Gender: {{ caracterRick.gender}}
       </ion-item>

       <ion-item>
        Status:  {{ caracterRick.status}}
      </ion-item>

     </ion-list>
    </ion-card-content>
  </ion-card>


</div>

</ion-content>
