<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding:5px">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>




<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{this.arrayStr[0]}}</ion-card-subtitle>
    
    <div style="display:flex; flex-direction:row;">
    <div [style]="this.styleIcon">
      <ion-icon [name]="this.iconStr"></ion-icon>
    </div>
    <ion-card-title>{{this.title}}</ion-card-title>
  </div>
  
  </ion-card-header>
 
  <div style="padding:5px">
  <ion-img [src]="this.urlImg"></ion-img>
  </div>

  <ion-card-content>
    <p style="text-justify:center">
    {{this.description}}
    </p>
    </ion-card-content>
    <ion-button color="primary" (click)="changeImg($event)" expand="block">change img</ion-button>

  </ion-card>

  <ion-button color="primary" (click)="getCharacter($event)" expand="block">get South Park 1</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{this.characterSP.name}}</ion-card-subtitle>
      
      <div style="display:flex; flex-direction:row;">
      <div [style]="this.styleIcon">
        <ion-icon [name]="this.iconStr"></ion-icon>
      </div>
      <ion-card-title>South Park Characters</ion-card-title>
    </div>
    
    </ion-card-header>
   
    <div style="padding:5px">
    <ion-img [src]="this.characterSP.urlImage"></ion-img>
    </div>
  
    <ion-card-content>
      <p style="text-justify:center">
      FullName: {{this.characterSP.full_name}}
      </p>

      <p style="text-justify:center">
        Religion: {{this.characterSP.religion}}
        </p>
      </ion-card-content>
   
  
    </ion-card>

 
  

  
</div>
</ion-content>
